@font-face {
    font-family: 'couture';
    src: url('../fonts/couture.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'caviardreams';
    src: url('../fonts/caviardreams.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'calluna';
    src: url('../fonts/Calluna-Regular.otf') format('opentype');
    font-weight: 200;
}
@font-face {
    font-family: 'YanoneKaffeesatz';
    src: url('../fonts/YanoneKaffeesatz-Regular.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'RobotoReg';
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'poppins';
    src: url('../../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 500;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background: black;
    background-size: 1000%;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation: fadeIn 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

header{
    width: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background: #1b1b1b;
    background-size: 1000%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1) ;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
}

.sidebar-visible{
    transform: translateX(0);
}

.sidebar li{
    width: 85%;
}

.sidebar a{
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

nav .logo{
    cursor: none;
    visibility: hidden;
    width: 100px;
    border: 2px solid crimson;
    border-radius: 50px;
    transition: 0.5s;
    z-index: 999;
}

.logo:hover{
    cursor: none;
    border: 2px solid #23fae8;
    border-radius: 50px;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

nav ul li a{
    font-family: system-ui;
    letter-spacing: 2px;
    text-decoration: none;
    color: floralwhite;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid floralwhite ;
    padding: 10px 10px;
    border-radius: 50px;
}

nav ul li a:hover{
    text-decoration: none;
    color: rgb(35, 250, 232);
    font-size: 15px;
    border: 2px solid #c40785;
    padding: 10px 10px;
    border-radius: 50px;
}

nav ul li a.active{
    text-decoration: none;
    color: rgb(35, 250, 232);
    font-size: 15px;
    border: 2px solid #c40785;
    padding: 10px 10px;
    border-radius: 50px;
}

.container{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-wrapper{
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.welcome-text{
    font-family: system-ui, sans-serif;
    font-size: 65px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    animation: typing 1.1s steps(30, end) forwards;
    background: crimson;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.typer{
    font-family: system-ui, sans-serif;
    font-size: 65px;
    font-weight: 400;
    color: floralwhite;
    opacity: 0;
    animation: blink-caret 1s step-end infinite;
    animation-delay: 1.1s;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.menubutton{
    display: none;
    z-index: 1000;
}

.move{
    transform: translateY(3px);
}

.book{
    position: relative;
    border: 2px solid transparent;
    border-radius: 3px;
    border-color: floralwhite;
    border-image-slice: 1;
    animation: fadeIn 1.1s;
}

.glitch-container{
    padding: 10px 10px;
    margin-left: 40px;
    margin-top: 45px;
}

.sidebaravatar{
    max-width: 100%;
    height: auto;
    width: 80%;
    border: 2px solid transparent;
    border-radius: 3px;
    border-image: linear-gradient(to right, #c40785, #23fae8);
    border-image-slice: 1;
}

.pop{
    animation: popEffect 0.5s ease-in-out;
}

@keyframes typing{
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret{
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@keyframes popEffect{
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

@media(max-width: 1150px){
    .hideOnMobile{
        display: none;
    }
    .menubutton{
        display: block;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        margin-right: -5px;
    }
    .logo{
        display:none;
    }
    nav{
        padding: 10px 10px;
        height: 50px;
    }
}

@media (max-width: 600px){
    nav{
        padding: 10px 10px;
    }
}

@media(max-width: 425px){
    .sidebar{
        width:100%;
    }
    nav{
        padding: 10px 10px;
    }
    nav ul li{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
    }
    .sidebaravatar{
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-left: 10px;
    }
    .welcome-text{
        font-family: system-ui, sans-serif;
        font-size: 40px;
        font-weight: 600;
    }
    .typer{
        font-family: system-ui, sans-serif;
        font-size: 40px;
        font-weight: 400;
    }
    .book{
        margin-top: -8px;
        transform: scale(0.8);
    }
}

@media (max-width: 300px){
    .glitch-container{
        display: none;
    }
}