@font-face {
    font-family: 'couture';
    src: url('../../fonts/couture.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'caviardreams';
    src: url('../../fonts/caviardreams.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'calluna';
    src: url('../../fonts/Calluna-Regular.otf') format('opentype');
    font-weight: 200;
}
@font-face {
    font-family: 'YanoneKaffeesatz';
    src: url('../../fonts/YanoneKaffeesatz-Regular.ttf') format('truetype');
    font-weight: 600;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: couture, sans-serif;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(201, 98, 29, 0.7), rgba(29, 28, 28, 0.7));
    background-size: 1000%;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: couture, sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    width: 100%;
}

.main{
    flex: 1;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

h1{
    color: floralwhite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.185);
    margin: auto;
    max-width: 600px;
}

h2{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    background: linear-gradient(to bottom right, #f50a78, #eb2626);
    background-size: 1000%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

p{
    letter-spacing: 1px;
    font-size: 1.5em;
    font-family: system-ui, sans-serif;
    color: floralwhite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

nav{
    background-color: #333;
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1) ;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.menutext{
    color: floralwhite;
    margin-top: -2px;
    font-family: CaviarDreams, sans-serif;
    text-transform: none;
    background-color: transparent;
    font-size: 40px;
    text-transform: none;
    font-weight: 600;
    position: absolute;
    letter-spacing: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.menutext2{
    color: floralwhite;
    font-family: CaviarDreams, sans-serif;
    text-transform: none;
    background-color: transparent;
    font-size: 40px;
    text-transform: none;
    font-weight: 600;
    letter-spacing: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-top: 25px;
    margin-left: 25px;
}

.menutext3{
    display: none;
    color: floralwhite;
    font-family: CaviarDreams, sans-serif;
    text-transform: none;
    background-color: transparent;
    font-size: 40px;
    text-transform: none;
    font-weight: 600;
    letter-spacing: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-left: 49px;
    margin-top: -2px;
}

.logo-text{
    display: flex;
    margin-left: -50px;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(201, 98, 29, 0.7), rgba(29, 28, 28, 0.7));
    background-size: 1000%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1) ;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
}

.sidebar-visible {
    transform: translateX(0);
}

.sidebar li{
    width: 85%;
}

.sidebar a{
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    z-index: 1000;
}

nav .logo{
    width: 100px;
    border: 2px solid crimson;
    border-radius: 50px;
    transition: 0.5s;
    z-index: 999;
}

.logo:hover{
    border: 2px solid #23fae8;
    border-radius: 50px;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

nav ul li a{
    font-family: system-ui;
    letter-spacing: 2px;
    text-decoration: none;
    color: floralwhite;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid floralwhite ;
    padding: 10px 10px;
    border-radius: 50px;
}

nav ul li a:hover{
    text-decoration: none;
    color: rgb(35, 250, 232);
    font-size: 15px;
    border: 2px solid #c40785 ;
    padding: 10px 10px;
    border-radius: 50px;
}

nav ul li a.active{
    text-decoration: none;
    color: rgb(35, 250, 232);
    font-size: 15px;
    border: 2px solid #c40785 ;
    padding: 10px 10px;
    border-radius: 50px;
}

.menubutton{
    display: none;
    z-index: 1000;
}

.move{
    transform: translateY(3px);
}

.container1{
    position: relative;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
    z-index: 2;
}

.img{
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #c40785, #23fae8);
    border-image-slice: 1;
}

.tekstit{
    background-color: rgba(0, 0, 0, 0.185);
    border: 2px solid transparent;
    padding: 10px;
    border-image: linear-gradient(to right, #c40785, #23fae8);
    border-image-slice: 1;
    position: relative;
    width: 100%;
    margin: auto;
    text-align: left;
    overflow: hidden;
    max-height: 214px;
    transition: max-height 1s ease;
}

.show-more-button{
    cursor: pointer;
    background-color: #333;
    color: floralwhite;
    font-family: system-ui, sans-serif;
    padding: 4px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-top: 0px;
    border-image: linear-gradient(to right, #c40785, #23fae8);
    border-image-slice: 1;
    transition: background-color 1s ease-in-out;
}

.tekstit.expanded{
    max-height: 10000px;
    transition: max-height 1s ease-in-out;
}

.tekstit2{
    padding: 10px;
    letter-spacing: 1px;
    font-size: 1em;
    font-family: system-ui, sans-serif;
    text-align: left;
}

.issues{
    background-color: rgba(0, 0, 0, 0.185);
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #c40785, #23fae8);
    border-image-slice: 1;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: auto; 
}

h4{
    text-decoration: underline;
    color: floralwhite;
    font-size: 1.4em;
    font-family: system-ui, sans-serif;
    text-transform: uppercase;
    padding-top: 15px;
}

.low{
    color: rgb(11, 241, 134);
}

.status{
    background-color: rgba(0, 0, 0, 0.185);
    border: 2px solid transparent;
    border-bottom: 0px;
    border-image: linear-gradient(to right, #c40785, #23fae8);
    border-image-slice: 1;
    margin: auto;
    position: relative;
    width: 65%;
}

.status2{
    background-color: rgba(0, 0, 0, 0.185);
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #c40785, #23fae8);
    border-image-slice: 1;
    margin: auto;
    position: relative;
    width: 65%;
}

h3{
    padding: 15px;
    color: floralwhite;
    font-size: 1.4em;
    font-family: system-ui, sans-serif;
}

.wip{
    font-family: couture, sans-serif;
    text-transform: uppercase;
    color: rgb(11, 241, 134);
}

.updating{
    font-family: couture, sans-serif;
    text-transform: uppercase;
    color: #23fae8;
}

footer{
    background-color: #333;
    color: floralwhite;
    padding: 15px;
    text-align: center;
    position: relative;
    clear: both;
    bottom: 0;
    width: 100%;
}

footer p{
    background-color: transparent;
    font-family: system-ui;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0px;
    text-shadow: none;
    text-decoration: none;
    margin-bottom: 0;
}

.glitch-container{
    padding: 10px 10px;
    margin-left: 40px;
    margin-top: 45px;
}

.sidebaravatar{
    max-width: 100%;
    height: auto;
    width: 80%;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #c40785, #23fae8);
    border-image-slice: 1;
}

.pop{
    animation: popEffect 0.5s ease-in-out;
}

@keyframes popEffect{
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@media(min-width: 1150px){
    .container1{
        margin-top: 250px;
    }
    .img{
        width: 65%;
    }
    .tekstit{
        width: 65%;
    }
    .issues{
        width: 65%;
    }
    .menutext{
        display: none;
    }
}

@media(max-width: 1150px){
    .hideOnMobile{
        display: none;
    }
    .menubutton{
        display: block;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        margin-right: -5px;
    }
    .logo{
        display:none;
    }

    .img{
        width: 100%;
    }
    .tekstit{
        width: 100%;
        
    }
    nav{
        padding: 10px 10px;
        height: 50px;
    }
    .status{
        width: 100%
    }
    .status2{
        width: 100%
    }
    .menutext2{
        display: none;
    }
}

@media(max-width: 768px){
    .img{
        width: 100%;
    } 
    .tekstit{
        width: 100%;
        
    }
    nav{
        padding: 10px 10px;
    }
    .menutext{
        display: none;
    }
    .menutext3{
        display: block;
    }
}

@media(max-width: 425px){
    .sidebar{
        width:100%;
    }
    .img{
        width: 100%;
    }
    .tekstit{
        width: 100%;
        
    }
    nav{
        padding: 10px 10px;
    }
    nav ul li{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
    }
    .sidebaravatar{
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-left: 10px;
    }
}

@media(max-width: 345px){
    .menutext{
        display: none;
    }
}

@media(max-width: 320px){
    .img{
        width: 100%;
    }
    .tekstit{
        width: 100%;
    }
    nav{
        padding: 10px 10px;
    }
}

@media (max-width: 300px){
    .glitch-container{
        display: none;
    }
}

@media(max-width: 286px){
    nav{
        padding: 10px 10px;
    }
}

@media(max-width: 215px){
    .menutext3{
        display: none;
    }
}

@media(max-width: 180px){
    nav{
        padding: 10px 10px;
    }
}